altair==4.2.0
anyio==3.6.1
AnyQt==0.1.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.2.0
Babel==2.8.0
backcall==0.2.0
baycomp==1.0.2
beautifulsoup4==4.10.0
beniget==0.4.1
bleach==5.0.0
blinker==1.4
Bottleneck==1.3.4
Brotli==1.0.9
CacheControl==0.12.11
cachetools==5.2.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
cryptography==3.4.8
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.0
defusedxml==0.7.1
dictdiffer==0.9.0
distro==1.7.0
docutils==0.18.1
entrypoints==0.4
et-xmlfile==1.1.0
evdev==1.4.0
executing==0.8.3
flake8==4.0.1
fonttools==4.29.1
fs==2.4.12
fuse-python==1.0.2
future==0.18.2
gast==0.5.2
gitdb==4.0.9
GitPython==3.1.27
h11==0.12.0
html5lib==1.1
httpcore==0.15.0
httplib2==0.20.2
httpx==0.23.0
idna==3.3
importlib-metadata==4.6.4
ipykernel==6.13.0
ipython==8.4.0
ipython_genutils==0.2.0
ipywidgets==7.7.1
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==3.2.0
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
keyring==23.5.0
keyrings.alt==4.1.0
kiwisolver==1.3.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
lxml==4.8.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
meson==0.61.2
mistune==0.8.4
more-itertools==8.10.0
msgpack==1.0.3
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.1.3
nest-asyncio==1.5.5
netifaces==0.11.0
networkx==2.8.2
notebook==6.4.12
numpy==1.21.5
oauthlib==3.2.0
olefile==0.46
openpyxl==3.0.10
openTSNE==0.6.2
OWSLib==0.25.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pbr==5.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
plotly==5.4.0
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==8.0.0
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.21
pycups==2.0.1
pydeck==0.7.1
pyflakes==2.4.0
Pygments==2.11.2
PyJWT==2.3.0
pylibacl==0.6.0
Pympler==1.0.1
pyparsing==2.4.7
pyproj==3.3.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyqtgraph==0.12.3
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.18.1
python-apt==2.3.0+ubuntu2
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-louvain==0.16
python-magic==0.4.24
pythran==0.10.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==23.0.0
qasync==0.23.0
QScintilla==2.11.6
qtconsole==5.3.0
QtPy==2.1.0
reportlab==3.6.8
requests==2.25.1
rfc3986==1.5.0
rich==12.4.4
scikit-learn==1.1.1
scipy==1.8.0
SecretStorage==3.3.1
semver==2.13.0
Send2Trash==1.8.0
serverfiles==0.3.1
setproctitle==1.2.2
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.1
stack-data==0.2.0
streamlit==1.10.0
sympy==1.9
systemd-python==234
tenacity==6.3.1
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
toolz==0.11.2
tornado==6.1
traitlets==5.3.0
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
ubuntu-advantage-tools==27.8
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
urllib3==1.26.5
usb-creator==0.3.7
validators==0.20.0
wadllib==1.3.6
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.1
wordcloud==1.8.1
xdg==5
xkit==0.0.0
xlrd==2.0.1
XlsxWriter==3.0.3
zipp==1.0.0
